body {
    font-family: Bahnschrift, serif ;
    background-color: black;
    color: #f9f1f1;
}

#Title {
    font-weight: bolder;
    width: fit-content;
    margin-inline: auto;
}

.content {
    width: 75vw;
    margin-inline: auto ;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 4%;
    row-gap: 1vh;
    justify-content: center;
}

.card {
    padding-left: 5%;
    padding-bottom: 1vh;
    width: 100%;

    border:5px solid;
    border-image:linear-gradient(135deg,rgba(138,43,226,1),rgba(60, 185, 252,1)) 10;
    border-radius: 5%;
    justify-items: center;
    background: linear-gradient(135deg,rgba(138,43,226,0.2),rgba(60, 185, 252,0.2));

}

.card img {
    width: 95%;
    height: auto;

}

.card button {
    width: 95%;
    height: fit-content;
    font-size: 30px;
}

.card h2{
    width: fit-content;
    margin-inline: auto;
    height: 4vh;

}

.card.description {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 3;
}