body {

}

.content {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2%;
    row-gap: 1vh;
    justify-content: center;
}

.card {
    padding-left: 5%;
    padding-bottom: 2.5%;
    width: 100%;
    border: solid black 1px;
    justify-items: center;

}

.card img {
    width: 95%;
    height: auto;

}

.card button {
    width: 95%;
    height: 5vh;
    font-size: 30px;
}

.card.description {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 3;
}